@use 'sass:map';

@use 'quill/dist/quill.snow.css' as *;
@use "bootstrap-icons" as *;
@use 'bootstrap/scss/bootstrap' as *;

@use '@angular/material' as mat;
@include mat.core();

$angular-primary: mat.m2-define-palette(mat.$m2-teal-palette, 500, 100, 900);
$angular-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$angular-warn: mat.m2-define-palette(mat.$m2-red-palette);

$angular-default-theme: mat.m2-define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.m2-define-dark-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

$btn-color: rgb(0, 150, 136);

.btn-outline-info {
  @include button-outline-variant($btn-color, #fafafa, lighten($btn-color, 5%), $btn-color);
}

:root {
  --sidebarwidth: 240px;
  --sidebarsmalldeviceswidth: 240px;
  --rightbarwidth: 240px;
  --editormargin: 0.5rem;
  --editorcontentwidth: 45em;

  --headerlogowidth: 220px;
  --headerinfowidth: 200px;
  --headermenuwidth: 240px;

  --main-bg: #fff;
  --header-bg: #fff;
  --menu-bg: #fff;
  --content-bg: #f2f3f9;
  --editortool-bg: #ccc;
  --editorscroll-bg: #fafafa;
  --textarea-bg: rgb(251, 249, 246);
}

@media (prefers-color-scheme: dark) {
  :root {
    // Dark mode colors
    --main-bg: #2d3436;
    --header-bg: #2d3436;
    --menu-bg: #2d3436;
    --content-bg: #2d3436;
    --editortool-bg: #2d3436;
    --editorscroll-bg: #2d3436;
    --textarea-bg: rgb(54, 53, 52);
  }

  .ql-toolbar .ql-stroke.ql-fill {
    fill: none;
    stroke: #fafafa;
  }

  .ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fafafa;
  }

  .ql-toolbar .ql-fill {
    fill: #ccc;
    stroke: none;
  }

  .ql-toolbar .ql-picker {
    color: #fafafa;
  }
}

@media (width < 1000px) {
  :root {
    --sidebarwidth: 12rem;
    --rightbarwidth: 0rem;
  }

  .app-rightbar,
  .app-rightbar-menu,
  .app-rightbar-textbox {
    visibility: hidden;
    display: none;
  }
}

@media (width >=768px) {
  .app-only-on-small-device {
    visibility: hidden;
    display: none;
  }
}

@media (width < 768px) {
  :root {
    --sidebarwidth: 0rem;
    --rightbarwidth: 0rem;
    --headerinfowidth: 0rem;
  }

  .app-rightbar,
  .app-rightbar-menu,
  .app-rightbar-textbox,
  .app-sidebar,
  .app-header-info {
    visibility: hidden;
    display: none;
  }

  .app-only-on-small-device {
    visibility: visible;
    display: inline;
  }
}

@media (width >=540px) {
  .app-only-on-very-small-device {
    visibility: hidden;
    display: none;
  }

  .app-header-menu {
    visibility: visible;
    display: inline;
  }
}

@media (width < 540px) {
  :root {
    --headermenuwidth: 0rem;
  }

  // TODO: text width must be reduced / editor buttons must be reduced
  .app-only-on-very-small-device {
    visibility: visible;
    display: inline;
  }

  .app-header-menu {
    visibility: hidden;
    display: none;
  }
}


/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/roboto.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/roboto.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/roboto.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/roboto.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/roboto.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/roboto.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/lato-thin-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/lato-thin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/lato-regular-ext.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/lato-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

$font-family-base: "Lato";

body {
  // font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.ql-toolbar {
  //
}

.ql-container {
  max-height: calc(100% - 42px);
  position: relative;
}

.ql-editor {
  --editor-width: calc(100vw - var(--sidebarwidth) - var(--rightbarwidth) - (2 * var(--editormargin)));
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: calc((var(--editor-width) - var(--editorcontentwidth)) / 2);
  padding-right: calc((var(--editor-width) - var(--editorcontentwidth)) / 2);
}

@media (2000px < width) {
  .ql-editor {
    font-size: 1.4rem;
  }
}

@media (1700px < width <=2000px) {
  .ql-editor {
    font-size: 1.2rem;
  }
}

@media (1450px < width <=1700px) {
  .ql-editor {
    font-size: 1rem;
  }
}

@media (1200px < width <=1450px) {
  .ql-editor {
    font-size: 0.85rem;
  }
}

@media (width <=1200px) {
  .ql-editor {
    font-size: 0.7rem;
  }
}

@media (width <=600px) {
  .ql-editor {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.ql-formats {
  margin-right: 3px !important;
}

.ql-toolbar {
  max-height: 42px;
  // TODO: display missing elements on small devices
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.ql-toolbar::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

.ql-toolbar::-webkit-scrollbar-track {
  background: var(--editorscroll-bg);
}

.ql-toolbar::-webkit-scrollbar-thumb {
  background-color: var(--editortool-bg);
  border-radius: 20px;
  border: 3px solid #eee;
}

.ql-editor::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

.ql-editor::-webkit-scrollbar-track {
  background: var(--editorscroll-bg);
}

.ql-editor::-webkit-scrollbar-thumb {
  background-color: var(--editortool-bg);
  border-radius: 20px;
  border: 3px solid #eee;
}

::highlight(search-hit) {
  background-color: rgba(255, 235, 59, 0.9);
}

html,
body {
  height: 100%;
}