<h2 align="center" mat-dialog-title>{{ 'dialog.projects' | i18n }}</h2>
<mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" animationDuration="300ms" mat-align-tabs="start" dynamicHeight #tabgroup
        [selectedIndex]="recovery.length > 0 ? 2 : data.input !== undefined && data.input.length > 0 ? 1 : 0">
        <mat-tab label="{{ 'dialog.new' | i18n }}">
            <div class="text-center mt-3 mb-3">{{ 'dialog.createproject' | i18n }}</div>
        </mat-tab>
        <mat-tab label="{{ 'dialog.open' | i18n }}" [disabled]="data.input === undefined || data.input.length === 0">
            <mat-selection-list [multiple]="false" [(ngModel)]="selectedProject">
                <!-- <div mat-subheader>Projects</div> -->
                @for (item of data.input; track item) {
                <mat-list-option [value]="item.id">
                    <div matListItemTitle>{{item.title}}</div>
                    <div matListItemLine>{{item.updatedAt | date:"medium"}}</div>
                    <!-- lang, title, description, author, created_at, updatedAt -->
                </mat-list-option>
                }
            </mat-selection-list>
            <div *ngIf="!cloudMode"><button mat-button (click)="storeLocation()">{{ 'dialog.storelocation' | i18n }}</button></div>
        </mat-tab>
        <mat-tab label="{{ 'dialog.recovery' | i18n }}" [disabled]="recovery.length === 0">
            <mat-selection-list [multiple]="false" [(ngModel)]="selectedRecovery">
                <!-- <div mat-subheader>Projects</div> -->
                @for (item of recovery; track item) {
                <mat-list-option [value]="item.id">
                    <div matListItemTitle>{{ item.title }}</div>
                    <div matListItemLine>{{item.time | date:"medium"}}</div>
                </mat-list-option>
                }
            </mat-selection-list>
            <button mat-button (click)="removeAllRecoveries()">{{ 'dialog.removeall' | i18n }}</button>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">{{ 'dialog.cancel' | i18n }}</button>
    <button mat-button (click)="ok()">{{ 'dialog.ok' | i18n }}</button>
</mat-dialog-actions>